/* body{
    background-color: yellow;
} */

/* .my-navbar{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
} */

/* #navbarNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

} */

.video-header{
    position: initial;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}